#root {
  width: auto;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  background-color: #E5F9DB;
}

/* .App-container {
  min-width: 100%;
  min-height: auto;
  
} */

.App-container {
  background-color: #E5F9DB;
  margin: 15px;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: #A2A378;  
  padding: 15px;
}

.Button-container {
  background-color: #E5F9DB;
  margin: 15px;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: #A2A378;  
  padding: 15px;
}

